.login-body {
  display: flex;
  align-items: center;
  justify-content: center !important;
  position: fixed;
  margin-bottom: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assests/uex-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 2px;
  position: absolute;
  right: 0;
  
}

.login-data {
  background-color: rgb(143, 197, 207);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  color: rgb(255, 254, 254);
 
}

.img-size .p-3{
  filter: blur(8px);
}

.size {
  height: 305px;
  align-items: end;
}

.loginButton{
  background-color: #8fc5cf !important;
  margin-top: 10px;
  width: 150px;
}

