body {
  margin: 0;
  font-family: Titillium Web !important;
  color: #4c4c4c !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-webkit-scrollbar {
    width: 6px;
  }
}
